nodes:

node0, ami=
node1, ami=
node2, ami=
node3, ami=

packages for ami=

docker 1.9
git
docker-compose
tree
nano/emacs

packages for ami=

General Requirements:
ubuntu is part of the docker group

Ports:

Inbound:
TCP 5000
TCP 8080
TCP 80
TCP 443

Outbound:
All Traffic



