nodes:

node0, ami=
node1, ami=
node2, ami=
node3, ami=

packages for ami=

docker 1.9
git
docker-compose
tree
nano/emacs

packages for ami=

General Requirements:
ubuntu is part of the docker group

Ports:

Inbound:
TCP 5000
TCP 8080
TCP 80
TCP 443
TCP 8001

Outbound:
All Traffic


Tutorial 4 requirements:
Each user will need AWS credentials (Access Key and Secret Key) - we could share one set of credentials, or we could create individual ones. Ideally we could automatically age the credentials out after a period of time (1 hour?)

