nodes:

node0, ami=
node1, ami=
node2, ami=
node3, ami=

packages for ami=

docker 1.9
git
docker-compose
tree
nano/emacs

packages for ami=

General Requirements:
ubuntu is part of the docker group


Ports:

Inbound:
5000
8080
80
443

Outbound:
All Traffic


